@{
    ViewData["Title"] = "Agência de Viagens";
}


<br />

<div class="text-center">
    <h1 class="display-4" style="text-align: center; color: #00008B; font-family: Verdana; font-size: 40px;"> <b>Agência Andressa Turismo </b> </h1>

</div>

<br />
<br />    
<div class="text-center"> 
<img src="~/imagens/aviao.jpg" style="text-align: center; color: #00008B; font-family:sans-serif ; font-size: 20px;" />

<br />
<br />
<br />
<br />



<p>
    A Andressa Turismo é especializada em proporcionar a você e sua empresa o melhor em viagens para todo o Brasil e o Exterior. Nossos serviços são diferenciados, oferecendo o máximo em qualidade, eficiência, conforto, agilidade.
    São mais de 45 anos de crescimento contínuo, resultado de um compromisso sério no tratamento de todos que estão envolvidos com a empresa, começando pelos próprios colaboradores. Foi assim que construiu-se uma Corporação com diversos canais especializados nos principais segmentos do mercado de turismo: negócios, lazer e eventos.

</p>

<br />
<br />
<p><b>Eficiência no atendimento </b></p>

    A agência oferece conexão totalmente informatizada com as companhias aéreas e hotéis selecionados para o seu maior conforto e agilidade no atendimento.


<br />
<br />
<p><b>Facilitando ao máximo sua viagem </b></p>

    Locação de veículos e reservas em hotéis no mundo inteiro: fazemos tudo isso e muito mais para que sua comodidade e satisfação sejam completas.


<br />
<br />
<p><b>  Passagens e documentos </b></p>

    Fazemos e emissão de passagens aéreas com a máxima eficiência e fornece ainda a organização completa de toda a documentação necessária em suas viagens.





<div class="col small-12 large-12">

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />






<p style="text-align: center;"><span style="color: #200087;">Temos sempre uma novidade ou promoção para você. Não fique de fora! Cadastre-se!. <img src="~/imagens/hotel.png" /> </span></p>
