@{
    ViewData["Title"] = "Informações";
}
<br />

<div class="text-center">
    <h1 class="display-4" style="text-align: center; color: #00008B; font-family:Verdana ; font-size: 40px;"> <b> Dicas </b> </h1>
    <br />
    <br />
</div>

<h4>Aqui você encontra várias opções de destino. </h4>
<br /><br />



<ul>
    <li><a href="https://www.melhoresdestinos.com.br/melhores-destinos-brasil.html"> Brasil </a></li>
    <li><a href="https://www.tripadvisor.com.br/TravelersChoice-Destinations-cPopular-g4">Europa </a></li>
    <li><a href="https://www.essemundoenosso.com.br/viajar-na-america-do-sul/"> América do Sul </a></li>
    <li><a href="https://www.maxmilhas.com.br/blog/guia-de-destinos/melhores-destinos-asiaticos">Ásia </a> </li>
    <li><a href="https://rotadeferias.com.br/lugares-para-visitar-na-america-do-norte/">  América do Norte</a></li>
    <li><a href="https://ideiasnamala.com/destinos-america-central/">América do Central </a> </li>
</ul>

<br />
<br />


<div class="text-center">
    <img src="~/imagens/aviao.jpg" style="text-align: center; font-size: 30px;" />
</div>